# Nome do seu fluxo de trabalho
name: Build and Deploy Jekyll Site

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    # ESTE BLOCO É O QUE ESTÁ FALTANDO
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }} # Esta linha é importante!

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the site
        run: |
          docker run \
          -v "${{ github.workspace }}":/srv/jekyll \
          jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './_site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
